<%- include("partials/header") %> 
<%- include("partials/navbar") %>  

  <div class="videos">
    <section class="video-section">
        <% for(let b of blogs){ %>
      <article class="video-container">
        <a href="/blog/<%= b._id %>" class="thumbnail" data-duration="12:24">
           <video width="320" height="240" class="thumbnail-image"controls><source src="<%=b.avatar%>" type="video/mp4"> </video>
        </a>
        <div class="video-bottom-section">
          <a href="#">
            <img class="channel-icon" src="img/account.svg" />
          </a>
          <div class="video-details">
            <a href="/blog/<%= b._id %>" class="video-title"><% if (b.title.length > 20) { %> 
              <%=b.title.substr(0,20) + '...'%>
              <% }else{ %><%= b.title %> <%} %>  </a>
            <a href="/blog/<%= b._id %>" class="video-channel-name">Channel Name</a>
            <div class="video-metadata">
              <span>12K views</span>
              •
              <span>1 week ago</span>
            </div>
          </div>
        </div>
      </article>
      <%}%>
    </section>

  </div>
</body>
</html>